@media screen and (max-width: 640px) {
  .main-video  {
    height: 55vh;
    line-height: 2px;
    z-index: -1;
  }
  .title{
    font-size: 13px;
    color: whitesmoke;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    position: absolute;
    z-index: 4; /* Mettre un z-index plus élevé que les layers */
    bottom: 96%;
    left: 42%;
  }
  .sub-title{
    color: whitesmoke;
    font-family: 'Oswald', sans-serif;
    font-size: 5px;
    letter-spacing: 2px;
    position: absolute;
    z-index: 4; /* Mettre un z-index plus élevé que les layers */
    bottom: 58%;
    left: 24%;
}
  .title-about-me {
    margin: 0;
    background-color: blueviolet;
  }
} 