@media screen and (max-width: 640px) {
  .main-video  {
    height: 55vh;
    line-height: 2px;
    z-index: -1;
  }
  .title{
    font-size: 18px;
    color: whitesmoke;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    position: absolute;
    z-index: 4; /* Mettre un z-index plus élevé que les layers */
    bottom: 94%;
    left: 35%;
  }
  .sub-title{
    color: whitesmoke;
    font-family: 'Oswald', sans-serif;
    font-size: 10px;
    letter-spacing: 2px;
    position: absolute;
    z-index: 4; /* Mettre un z-index plus élevé que les layers */
    bottom: 90%;
    left: 9%;
}
  .title-about-me {
    margin: 0;
    background-color: blueviolet;
  }
} 