body {
    margin: 0 auto;
    font-family: Arial, sans-serif;
    background-color: rgb(186, 196, 147);
}


.main-video { 
    height: 55vh;
    line-height: 2px;
    z-index: -1;
    
}

.title{
    font-size: 4vw; 
    color: whitesmoke;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.3em;
    width: 50%;
    height: 10%;
    top: 0;
    left: 32%;
    position: absolute;
    display: flex;
    z-index: 1;
}

.sub-title{
    font-size: 2vw; 
    color: whitesmoke;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.3em;
    height: 5%;
    top: 30%;
    left: 12%;
    position: absolute;
    z-index: 1;
    background-color: yellow;
}



/*.sub-title{
    color: whitesmoke;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    letter-spacing: 5px;
    position: absolute;
    z-index: 4; /* Mettre un z-index plus élevé que les layers 
    bottom: 58%;
    left: 24%;
}*/



.layer-about-me{
    margin-top: 3%;
    height: 40%;
}

.title-about-me{
    text-align: center;
    font-size: 1.5vw;
}

.content-about-me{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2vw;
    margin-top: 0; 
    line-height: 2em;
    margin-left: 3%;
    margin-right: 3%;
}



/* dimension de la fenetre  

 --->requis height: 850px;*/

.layer-project{
    width: 100%;
    height: 55vw;
    background-color: rgb(92, 137, 156);
}

.project{
    text-align: center;
    font-size: 120%;
}


.carousel-container {
    position: relative;
    width: 96%;
    height: 40vw;
    left: 2%;
    right: 2%;
    overflow: hidden;
}

.carousel {
    transition: transform 0.5s ease-in-out;
    white-space: nowrap; /* Empêcher le retour à la ligne des éléments */
}

.image-container {
    display: inline-block;
    vertical-align: top;
    width: 100%; /* Pour afficher trois images par ligne */
    position: relative;
}

.image-wrapper {
    position: relative;
}

.image-wrapper img {
    max-width: 100%;
    height: auto;
}

.image-text {
    position: absolute;
    bottom: 5%;
    left: 10%;    font-size: 1vw;
    background-color: rgb(186, 196, 147);
    border-radius: 34%;
    width: 10%;
    border: 2px solid black;
}

.image-text:hover{
    background-color: yellow;
}

.image-text a{
    text-decoration: none ;
}


.arrow.right{
    position: absolute;
    top: 46%;
    right: 1%;
    transform: translateY(-50%);
    font-size: 3vw; /* Ajustez la taille de la police selon vos besoins */
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 1; /* Assurez-vous que les flèches apparaissent au-dessus du carrousel */
    color: black;
}


.arrow.left{
    position: absolute;
    top: 46%;
    left: 1%;
    transform: translateY(-50%);
    font-size: 3vw; /* Ajustez la taille de la police selon vos besoins */
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 1; /* Assurez-vous que les flèches apparaissent au-dessus du carrousel */
}



.carousel-indicators {
    position: absolute;
    bottom: 1vw;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
}

.indicator {
    width: 10px;
    height: 10px;
    background-color: #bbb;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.indicator.active {
    background-color: #333;
}



.layer-contact{
    height: 25vh;
}

.contact{
    text-align: center;
    font-size: 120%;
}

.partie1-contact{
    width: 100%;
}

.email{
    padding-inline: 6%;
    float: left;
    margin-left: 4%;
}

.number{
    padding-inline: 6%;
    float: left;
    margin-left: 10%;
}

.linkedin{
    float: left;
    margin-left: 17%;
}




.parallax-container {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;<
    overflow: visible;
}



.parallax-layer {
    flex: 0 0 100%;
    background-size: cover;
    background-position: center;
    height: 100vh;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    position: relative;
}

#layer1 {
    background-image: url('img-1.png');
    opacity: 0.75;
    z-index: 3;
}

#layer2 {
    background-image: url('img-2.jpg');
    opacity: 0.6;
    z-index: 2;
}

#layer3 {
    background-image: url('img-3.jpg');
    opacity: 0.6;
    z-index: 1;
} 




